<h1>Device: <%=params[:device_id]%></h1>
<%=show_errors%>
<a href="javascript:void(0);" onclick="loadXMLDoc('<%=url("user?user_id=#{CGI.escape(params[:user_id])}")%>','main_box');" class='nav_button'>Back</a>
<a href='<%=url("device/delete?user_id=#{CGI.escape(params[:user_id])}&device_id=#{CGI.escape(params[:device_id])}")%>' class='nav_button'>
	Delete device
</a>

<h2>Device attributes</h2>
<div class='panel'>
	<table>
	<%@attributes.each do |attrib|%>
		<%if attrib['name'] != 'rho__id' and attrib['value'] and attrib['value'].size > 0%>
			<tr>
				<td><%=attrib['name']%>:</td>
				<td><%=attrib['value']%></td>
			</tr>
		<%end%>
	<%end%>
	</table>
</div>

<h2>Device documents for source:</h2>

[
<%@sources.each_index do |i|%>
	<a href="<%=url("docs?source_id=#{@sources[i]}&device_id=#{CGI.escape(params[:device_id])}&user_id=#{CGI.escape(params[:user_id])}")%>">
		<%=i==0?'':','%>"<%=@sources[i]%>"
	</a>
<%end%>
]
