<h1>Document [<%= params[:dbkey]%>]</h1>
<%=show_errors%>
<div class='panel'>
	<a href='<%= @back_href%>' class='nav_button'>Back</a>
</div>
<%= erb(:upload_doc, :layout => false) %>
<%= erb(:docdata, :layout => false) %>
<br/>