<h2>Data</h2>
<div class='panel'>
	<%if @data.size > 0%>
		<div class='panel'>
			<a href='javascript:void(0);' onclick="loadXMLDoc('<%=url("doc/clear?#{@back_params}&dbkey=#{CGI.escape(params[:dbkey])}")%>','main_box');" class='nav_button'>Clear document</a>
		</div>
		<%if @is_string%>
			<p>[<%=@data%>]</p>
		<%else%>
			<table>
				<%@data.each do |obj_id,obj|%>
					<tr>
						<td colspan=3>[<%=obj_id%>]</td>
					</tr>	
					<%obj.each do |attrib,value|%>
						<tr>
							<td></td>
							<td><%=attrib%>:</td>
							<td><%=value%></td>
						</tr>
					<%end%>		
				<%end%>
			</table>
		<%end%>	
	<%else%>
		<p>Document is empty</p>
	<%end%>
</div>
