<%if is_errors? or @sources.nil? %>
	<%= show_errors%>
<%end%>
<%unless @license.nil? %>
	<%="Licensed to #{@license['licensee']} on #{@license['issued']}, available #{@license['available']} of #{@license['seats']} devices"%>
<%end%>	

<div class='panel'>
	<a href="<%=url('reset')%>" class='nav_button' onclick="return confirm('Are you sure? Resetting will remove all data. It will also return an error code to all existing devices when they connect!')">Reset</a>
	
</div>

<h2>App partition sources</h2>	
<div class='panel'>
	<%unless @sources.nil? %>
		[
		<%@sources.each_index do |i|%>
			<a href='javascript:void(0);' onclick="loadXMLDoc('<%=url("docs?source_id=#{@sources[i]}&user_id=*")%>','main_box');"><%=i==0?'':','%>"<%=@sources[i]%>"</a>
		<%end%>
		]
	<%end%>	
</div>