<%if not login_required %>
    <h1>Application: <%= session[:app_name]%></h1>
	<div class='panel'>
		<a href="<%=url('logout')%>" class='nav_button'>Logout</a>
	</div>	
	<div class='panel'>
		<a href="<%=url('users')%>" class='nav_button'>Application users</a>
	</div>
	<h2>App partition sources</h2>	
	<div class='panel'>
		<%if is_errors?%>
			<%= show_errors%>
		<%else%>
			[
			<%@sources.each_index do |i|%>
				<a href="<%=url("docs?source_id=#{@sources[i]}&user_id=*")%>"><%=i==0?'':','%>"<%=@sources[i]%>"</a>
			<%end%>
			]
		<%end%>	
	</div>
<% else %>
	<h1>Login</h1>
	<%=show_errors%>
	<form action="<%=url('login')%>" method='POST'>
		<table>
			<tr>
				<td>Server:</td>
				<td><input name='server' value='<%=session[:server] || 'http://localhost:9292'%>' size=64/></td>
			</tr>
			<tr>
				<td>Application:</td>
				<td><input name='app_name' value='<%=session[:app_name] || ''%>'/></td>
			</tr>
			<tr>
				<td>Login:</td>
				<td><input name='login' value='<%=session[:login] || ''%>'/></td>
			</tr>
			<tr>
				<td>Password:</td>
				<td><input name='password' value=''/></td>
			</tr>
		</table>
		<br/>
		<input type='submit' value='Submit'/>
	</form>
<% end %>