<%if not login_required %>
	<h1>Application</h1>
	<%if is_errors? or @sources.nil? %>
		<%= show_errors%>
	<%end%>
	<%unless @license.nil? %>
 		<%="Licensed to #{@license['licensee']} on #{@license['issued']}, available #{@license['available']} of #{@license['seats']} devices"%>
	<%end%>	
	<div class='panel'>
		<a href="<%=url('logout')%>" class='nav_button'>Logout</a>
	</div>	
	<div class='panel'>
		<a href="<%=url('reset')%>" class='nav_button'>Reset</a>
		<a href="<%=url('doc/select')%>" class='nav_button'>Show server document</a>
	</div>
	<div class='panel'>
		<a href="<%=url('users')%>" class='nav_button'>Application users</a>
	</div>
	<h2>App partition sources</h2>	
	<div class='panel'>
		<%unless @sources.nil? %>
			[
			<%@sources.each_index do |i|%>
				<a href="<%=url("docs?source_id=#{@sources[i]}&user_id=*")%>"><%=i==0?'':','%>"<%=@sources[i]%>"</a>
			<%end%>
			]
		<%end%>	
	</div>
<% else %>
	<h1>Login</h1>
	<%=show_errors%>
	<form action="<%=url('login')%>" method='POST'>
		<table>
			<tr>
				<td>Server:</td>
				<td><input name='server' value='<%=session[:server] || 'http://localhost:9292'%>' size=64/></td>
			</tr>
			<tr>
				<td>Login:</td>
				<td><input name='login' value='<%=session[:login] || ''%>'/></td>
			</tr>
			<tr>
				<td>Password:</td>
				<td><input name='password' value=''/></td>
			</tr>
		</table>
		<br/>
		<input type='submit' value='Submit'/>
	</form>
<% end %>