<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Rhosync Console</title>
	<!--<link rel="stylesheet" href="<%=url_path('main.css')%>" type="text/css" media="screen" /> -->
	<link rel="stylesheet" href="<%=url_path('reset.css')%>" type="text/css" media="screen" /> 
	<link rel="stylesheet" href="<%=url_path('home.css')%>" type="text/css" media="screen" /> 
	<link rel="stylesheet" href="<%=url_path('style.css')%>" type="text/css" media="screen" /> 
	<link rel="stylesheet" href="<%=url_path('ThickBox.css')%>" type="text/css" media="screen" /> 
	
	<!--[if IE]><script language="javascript" type="text/javascript" src="<%=url_path('jqplot/excanvas.js')%>"></script><![endif]-->
	<script language="javascript" type="text/javascript" src="<%=url_path('jqplot/jquery-1.4.2.min.js')%>"></script>
	<script language="javascript" type="text/javascript" src="<%=url_path('jqplot/jquery.jqplot.min.js')%>"></script>
	<script language="javascript" type="text/javascript" src="<%=url_path('jqplot/jqplot.categoryAxisRenderer.min.js')%>"></script>
	<script language="javascript" type="text/javascript" src="<%=url_path('jqplot/jqplot.dateAxisRenderer.js')%>"></script>
	<script language="javascript" type="text/javascript" src="<%=url_path('jqplot/jqplot.canvasTextRenderer.js')%>"></script>
	<script language="javascript" type="text/javascript" src="<%=url_path('jqplot/jqplot.canvasAxisLabelRenderer.js')%>"></script>
	<script language="javascript" type="text/javascript" src="<%=url_path('jqplot/jqplot.canvasAxisTickRenderer.js')%>"></script>
	<script language="javascript" type="text/javascript" src="<%=url_path('jqplot/jqplot.cursor.js')%>"></script>
	<!--<script language="javascript" type="text/javascript" src="<%=url_path('jqplot/jqplot.barRenderer.min.js')%>"></script>-->
	<!--<script language="javascript" type="text/javascript" src="<%=url_path('jqplot/jqplot.pointLabels.min.js')%>"></script>-->
	
	<link rel="stylesheet" type="text/css" href="<%=url_path('jqplot/jquery.jqplot.min.css')%>" />
	
    <script type="text/javascript">
    		$.jqplot.config.enablePlugins = true;


          function loadXMLDoc(url,id)
          {
			if(url.indexOf('?') != -1) {
				url = url + "&xhr=true";
			} else {
				url = url + "?xhr=true";
			}
            if (window.XMLHttpRequest)
            {// code for IE7+, Firefox, Chrome, Opera, Safari
              xmlhttp=new XMLHttpRequest();

              xmlhttp.open("GET",url,false);
              xmlhttp.send(null);
                      if (xmlhttp.responseText != null)
              {
                            element = document.getElementById(id);
                    if (element != null)
                            {
                                    element.innerHTML=xmlhttp.responseText;
									parseScript(xmlhttp.responseText);
                            }
                      }
            }
          }

		function switch_tab(elem)
		{
		    if(document.getElementById('link1') != null)document.getElementById('link1').className = "no_class";
		    if(document.getElementById('link2') != null)document.getElementById('link2').className = "no_class";
		    if(document.getElementById('link3') != null)document.getElementById('link3').className = "no_class";
		    if(document.getElementById('link4') != null)document.getElementById('link4').className = "no_class";
		    if(document.getElementById('link5') != null)document.getElementById('link5').className = "no_class";
		    if(document.getElementById('link6') != null)document.getElementById('link6').className = "no_class";
		    if(document.getElementById('link7') != null)document.getElementById('link7').className = "no_class";
		    document.getElementById(elem).className = "selected";
		}

		function parseScript(_source) {
			var source = _source;
			var scripts = new Array();

			// Strip out tags
			while(source.indexOf("<script") > -1 || source.indexOf("</script") > -1) {
				var s = source.indexOf("<script");
				var s_e = source.indexOf(">", s);
				var e = source.indexOf("</script", s);
				var e_e = source.indexOf(">", e);

				// Add to scripts array
				scripts.push(source.substring(s_e+1, e));
				// Strip from source
				source = source.substring(0, s) + source.substring(e_e+1);
			}

			// Loop through every script collected and eval it
			for(var i=0; i<scripts.length; i++) {
				try {
					eval(scripts[i]);
				}
				catch(ex) {
					// do what you want here when a script fails
				}
			}

			// Return the cleaned source
			return source;
		}		

    </script>


</head>
<body>
	<div class="container"> 
		<div class="wrapper"> 
			<div class="header"> 
				<div class="logos"> 
					<a href="" class="logo_rhomobile">RhoMobile</a> 
					<a href="" class="logo_rhohub">RhoHub</a> 
				</div> 
				<div id="menu"> 
					<%= erb(:headermenu,:layout => false, :locals => {:currentpage => @currentpage})%>
				</div>
				<div class="header_landing"> 
					<div class="col_1"> 
						<%= yield%>
					</div><!--END col_1 --> 
					<div class="land_separator"></div> 
				</div><!--END header_landing --> 
				<div style="float:left">
					
					<br/>
				</div>
			</div><!--END header -->
		</div><!--END wrapper -->
	</div><!-- END container -->
	<div id="footer">
				<div class="footer_content">
					<div id="foot_lefts" class="foot_left">
						<img src="/console/images/foot_logo_rhosync.png"></a>
						<p>© 2010 <a href="http://www.rhomobile.com/">Rhomobile</a> All rights reserved.</p>
					</div>
					<div class="foot_right">
						<ul class="ul_footer">
							<%unless login_required %>
							<%	license = {}
							 	handle_api_error("Can't get license information") do
						       license = RhosyncApi::get_license_info(session[:server],session[:token])
						      end
						    %>
								<%="<li>Licensed to #{license['licensee']}</li><li>|</li><li> #{license['available']}/#{license['seats']} devices available</li>"%>
							<%end%>
							<li>|</li>
							<li>Rhosync v<%=Rhosync::VERSION%></li>
<!--						<li><a href="http://app.rhohub.com">Home</a></li>
							<li>|</li>
							<li><a href="http://app.rhohub.com/how_to_use">How to Use</a></li>
							<li>|</li>
							<li><a href="http://app.rhohub.com/pricing">Pricing</a></li>
							<li>|</li>
							<li><a class="largea3" target="_blank" href="http://wiki.rhomobile.com/index.php/RhoHub">Docs</a></li>
							<li>|</li>
							<li><a href="http://app.rhohub.com/terms">Terms of Service</a></li>
							<li>|</li>
							<li><a href="http://www.twitter.com/rhohub">Status</a></li>
-->						</ul>
					</div>
					<br class="clear">
				</div>
			</div>
</body>
</html>		