<h1>Document <%= @dbkey%></h1>
<%=show_errors%>
<div class='panel'>
	<a href='<%= url('/')%>' class='nav_button'>Back</a>
</div>	
<form action=<%= url('doc/select')%> method='GET'>
	<table>
		<tr>
			<td>Doc DB key: </db>
			<td><input name='dbkey' value='<%= @dbkey%>' size=64/></td>
		</tr>
	</table>
	<input type='submit' value='Submit'>
</form>
<%if params[:dbkey]%>
	<%= erb(:upload_doc, :layout => false) %>
<%end%>
<%= erb(:docdata, :layout => false) %>		
				