	<a href="javascript:void(0);" onclick="loadXMLDoc('<%=url_path('user/new')%>','main_box');" class='nav_button'>Create User</a>&nbsp;|&nbsp;
	<a href="javascript:void(0);" onclick="loadXMLDoc('<%=url_path('user/edit')%>','main_box');" class='nav_button'>Change Admin Password</a>

<h2>Registered users</h2>
<%if is_errors?%>
	<%= show_errors%>
<%else%>
	[ 	
	<%@users.each_index do |i|%>
		<a href="javascript:void(0);" onclick="loadXMLDoc('<%=url_path("user?user_id=#{CGI.escape(@users[i])}")%>','main_box');"><%=i==0?'':','%>"<%=@users[i]%>"</a>
	<%end%>
	]
<%end%>